<div class="container-fluid">
    <div class="row bg-primary-dark p-4">
        <div class="col-md-3 p-4">
            <h4 class="text-center fw-semibold">MalariaScanAI</h4>
            <hr>
            <div class="d-flex flex-column">
                <a href="/"
                    class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Home</a>
                <a href="/about"
                    class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">About</a>
                <a href="/model"
                    class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Deep
                    learning models</a>
                <a href="/results"
                    class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Model
                    training results</a>
                <a href="/login"
                    class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Login</a>
            </div>
        </div>
        <div class="col-md-3 p-4">
            <h4 class="text-center fw-semibold">Usefull Links</h4>
            <hr>
            <div class="d-flex flex-column">
                <a href="/#"
                    class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Know
                    more</a>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <p class="text-center fs-6" style="margin: 0;">
                MalariaScanAI AI Copyright&copy;2026 | All rights reserved
            </p>
        </div>
    </div>
</div>